
@charset "utf-8";

/*
   New Perspectives on HTML5 and CSS3, 8th Edition
   Tutorial 3
   Coding Challenge 3

   Author: Roger Okamoto
   Date:   2/3/2022
   
   Filename: code3-3_scroll.css

*/

section#container{

 width: 900px;
 height: 350px;
 margin: 10px auto;
 position: relative;
 top: 30px;
 left: 0px;
 outline: 2px,brown;
 scroll-behavior: auto;

 overflow: auto;     /* this makes brown band throughout the 900+ px range */

}

div {

   width: 300px;
   height: 330px;
   position: absolute;
}

div#slide1 {
   left: 0px;
}

/* 300 increment matches 300px width of each image display... which is 400 x400 */
div#slide2 {
   left: 300px;
}

div#slide3 {
   left: 600px;
}

div#slide4 {
   left: 900px;
}

div#slide5 {
   left: 1200px;
}

div#slide6 {
   left: 1500px;
}

div#slide7 {
   left: 1800px;
}

div#slide8 {
   left: 2100px;
}

div#slide9 {
   left: 2400px;
}


img {
      display: block ;/* RO what is block ? <------------ */
      width: 300px;
      height: 300px;
}










