@charset "utf-8";

/*
   New Perspectives on HTML5 and CSS3, 8th Edition
   Tutorial 4
   Coding Challenge 1

   Author: Roger Okamoto
   Date:   2/3/2022
   
   Filename: code4-1_back.css

*/

figure {

   padding: 20px;
   border: ridge rgba(52,52,100,0.75) 20px;
   
/*   Roger's try
     background: url(ws.png) no-repeat rgba(52,52,180,0.3);
   background-position: right,bottom ;
*/

   background: bottom right / 45% url(ws.png) no-repeat rgba(52,52,180,0.3);
   
   /* position / size todo */
   box-shadow: 5px 10px 15px black ;
   
}

figcaption{

   font-size: 1.8em;      /* bigger font */
   text-align: center;    /* centers text */
   border-bottom: 2px solid rgb(52,52,200);
/* each border , one at  time
   border-top: 4px solid yellow;
   border-left: 4px solid peru;
   border-right: 4px dashed red;
*/

/*  all borders at once
    border: 5px solid red;
    border: 2px dashed blue;
    border-style: double;
    border-style: ridge;
    border-style: inset;
*/    
}
