@charset "utf-8";

/*
   New Perspectives on HTML5 and CSS3, 8th Edition
   Tutorial 4
   Review Assignment
   
   Individuals Design Style Sheet at Tree and Book
   Author:  Roger Okamoto
   Date:   2/3/2022 (Thursday)
   
   Filename: tb_visual4.css

*/


/* Transformation Styles */



/* Filter Styles */


