@charset "utf-8";

/*
   New Perspectives on HTML5 and CSS3, 8th Edition
   Tutorial 4
   Review Assignment
   
   Design Style Sheet for Tree and Book Family Home Page
   Author: 
   Date:   
   
   Filename: tb_visual3.css

*/
 
/* HTML Styles */
 html{
    background-image: url(tb_back5.png);

 }


/* Page Body Styles */
body{

   border-left: 3px solid rgb(123, 128, 131);
   border-right: 3px solid rgb(114, 122, 126);
   box-shadow: rgb(104, 103, 117) 25px 0px 35px, 
                rgb(89, 87, 97) -25px 0px 35px;
   
   


}


/* Main Styles */

main{

   background: url(tb_back7.png) 100%/cover no-repeat padding-box;

   box-shadow: inset rgb(71,71.71) -10px -10px 25px,
               inset rgb(71,71.71) 10px 10px 25px,
              
}

main header h1{

 text-shadow: rgb(221,221,221) 1px 1px 0px,
               rgba(41,41,41,0.9) 5px 5px 5px;


}

/* Figure Box Styles */
figure{
       margin: 10px auto;
       width: 70%;

}

/* frame around each image */
figure img{

   border-width: 25px;
   border-style: solid;
   border-image: url(tb_frame.png) 60 stretch;


   display: block;
   width: 100%;
   -webkit-filter: sepia(.8);
   filter: sepia(0.8);  /* fall back if no webkit */

}

figure figcaption{

   font-family: 'Palatino Linotype' , Palatino, 'Times New Roman', serif;
   font-style: italic;
   padding: 10px 0;
   text-align: center;
}

/* Article Styles */

article{

   background: url(tb_back6.png) bottom right / 15% no-repeat;

   border-right: 8px double rgb(147, 126, 67);
   border-bottom: 8px double rgb(147,116,68);
   border-bottom-right-radius: 80px;

   box-shadow: inset rgba(184,154,112,0.7) -10px -10px 25px;
   
}

/* Footer Styles */

footer{

    background: linear-gradient( 325deg,
          rgb(235, 174, 83) 20%,
          rgb(151, 93, 11) 60%    ) ;
          


}

