@charset "utf-8";

/*
   New Perspectives on HTML5 and CSS3, 8th Edition
   Tutorial 6
   Review Assignment

   Tables Style Sheet
   Author: Roger Okamoto
   Date:   2/10/2022

   Filename:         dlr_tables2.css

*/

/* Table Styles */

table.programs{
        border: 15px outset rgb(151,151,151);
        border-collapse: collapse;
        font-family: Arial, Verdana, sans-serif;
        width: 100%;

}

tr{

   height: 25px;
}

th, td{

   border: 1px solid gray;
   vertical-align: top;
   padding: 5px;
}

/* Table Caption Styles */
caption{
   text-align: center;
   caption-side: bottom

}

col.timeColumn{
   background-color: rgb(215,205,151);
   width: 10%;
}

col.wDayColumns{
   background-color: rgb(255,255,211);
   width: 11%
}

col.wEndColumns{
   background-color: rgb(224, 166, 207);
   width: 17%
}
/* Table Column Styles */

/* Table Header Styles */

thead{
     color: white;
     background-color: rgb(151, 215, 151);

}

thead th:first-of-type {

   background-color: rgb(153,0,153)
}

thead th:nth-of-type(7 ) , th:nth-of-type(8){

   background-color: rgb(95, 94, 156)
}



/* Table Footer Styles */


 tfoot{
 
   background-color: black;
   color: white;
 
}




