@charset "utf-8";

/*
   New Perspectives on HTML5 and CSS3, 8th Edition
   Tutorial 6
   Coding Challenge 3
   
   Author:   Roger Okamoto
   Date:     2/10/2022 (Thursday)
   Filename: code6-3_columns.css

*/

article{
      
/*      display: flex;
      flex: 33.3%;      
      min-width: 350px;
      border: 5px ridge rgb(231,231,231);
*/
      columns: 200px 5;

      columns: 350px 3;
      column-rule: 5px ridge rgb(231,231,231) ;
      column-gap: 20px;


   }

   /* h1 Great Expectations */
   article h1{

       column-span: all;        /* span all columns */
       text-align: center;
       font-size: 3.5em;
       letter-spacing: .15em;


   }

   article p{

      orphans: 4;   /* minimum # lines at bottom of page or column*/
      widows: 3;    /* */


   }
