@charset "utf-8";

/*
   New Perspectives on HTML5 and CSS3, 8th Edition
   Tutorial 3
   Coding Challenge 2

   Author: Roger Okamoto   
   Date:   2/3/2022 (Thursday)
   
   Filename: code3-2_layout.css

*/


header ,footer , aside,article,a {

    padding: 10px;
/*
    outline-style: dashed;
    outline-style: rgb(140, 160, 52);
*/    
   outline: 3px dashed gray;
   padding: 10px;


 }

 body {

     width: 90%;
     min-width: 640px;
     max-width: 1040px;
/*     margin: 30,auto,auto,30;   */
     margin: 30px auto;

     display: grid;
     grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;  
     grid-template-columns: repeat(6, 1fr); /* either version works */

     grid-template-rows: 50px 30px 1fr 1fr 100px;
/*     gap: 15px;*/
     grid-gap: 15px;  /* depracated? */


 }

 a {
    display: block;
 }

 header{

      grid-column: 1/-1;
 }

 article#intro{

   grid-row: span 2;
   grid-column: span 2;

 }

 article#main{

   grid-row: span 2;
   grid-column: span 3;
 }

 footer{

   grid-column: span 2;
   grid-row: span 1;
 }