/*
   New Perspectives on HTML5 and CSS3, 8th Edition
   Tutorial 2
   Case Problem 1
   
   PHCT Typographic Style Sheet
   Author: Roger Okamoto   
   Date:   1/27/2022 (Thursday)
   
   Filename: ph_styles.css

*/

/*
Randall has several web fonts that he wants used for the titles of the plays produced by the company. Add the following web fonts to the style sheet, using ```@font-face``` rules before the comment section:

1. The **Champagne** font using the *cac_champagne.woff* and *cac_champagne.ttf* files.
2. The **Grunge** font using the *1942.woff* and *1942.ttf* files.
3. The **Dobkin** font using the *DobkinPlain.woff* and *DobkinPlain.ttf* files.
*/
@charset "utf-8";

@font-face{
   font-family: Champagne;
   src: url(cac_champagne.woff) format('woff'), url( cac_champagne.ttf) format('ttf');
}

@font-face{

   font-family: Dobkin;
   src: url(DobkinPlain.woff) format('woff'), url(DobkinPlain.ttf) format('ttf');

}

@font-face{

   font-family: Grunge;
   src: url(1942.woff) format('woff'), url(1942.ttf) format('ttf');

}
/*

Go to the "Structural Styles" section, creating a style rule that sets the background color of the ```html``` element to the value **hsl(91, 8%, 56%)**.
Add a style rule for the ```body``` element to set the background color to the value **hsl(58, 31%, 84%)** and the font of the ```body``` text to the font stack: **'Palatino Linotype'**, **'Book Antiqua'**, **Palatino**, **serif**.
 */
/* Structural Styles */
html{
   background-color: hsl(91,8%,56%);
}

body {
   background-color: hsl(58, 31%, 84%);
   font-family: 'Palatino Linotype', 'Book Antique', Palatino, serif;
}

/* Create a style rule for the ```header``` element that sets the background color to **black**.*/

header {

   background-color: black;
}

/*
Create a style rule for every paragraph that sets the margin space to **0** pixels and the 
padding space to **5** pixels on top and **25** pixels on the right, bottom, and left. 
For paragraphs that are direct children of the ```body``` element, create a style rule 
that sets the font size to **1.1em** and horizontally centers the paragraph text.
*/

p {
         margin: 0px; 
         padding: 5px 25px 25px 25px;/* top, right, bottom, left */
}

body > p {
   font-size: 1.1em;
   text-align: center;
}

/*
Create a style rule for the ```address``` element that sets the font style to **normal** 
with a font size of **0.9em**, horizontally centered on the page. 
Set the top and bottom padding to **10** pixels.
*/

address {
   font-style: normal;
   font-size: 0.9em;
   text-align:  center;

   padding-top: 10px;
   padding-bottom: 10px;
}

/* Navigation Styles */
/*
Next, you'll format the appearance of navigation lists on the page. 
Go to the "Navigation Styles" section and create a style rule for the ```nav a``` selector 
that displays the hypertext links using the font stack: 
**'Trebuchet MS'**, **Helvetica**, **sans-serif**. 
Set the top and bottom padding to **10** pixels.
*/
nav a{

    padding-top: 10px;
    padding-bottom: 10px;
    font-family: 'Trebuchet MS' , Arial, Helvetica, sans-serif;

}

/*
For every unvisited and previously visited hypertext link within a ```nav``` element, 
set the text color to **white**, remove underlining from the link text, 
and set the background color to the semitransparent value **hsla(0, 0%, 42%, 0.4)**.
*/
/*
For every ```active``` or ```hovered``` link in a ```nav``` element, 
set the text color to the semi-transparent value **hsla(0, 0%, 100%, 0.7)** 
and set the background color to the semi-transparent value **hsla(0, 0%, 42%, 0.7)**.

*/
nav a:link, nav:visited{

     color: white;
     text-decoration: none;
     background-color: hsla( 0,0%,42%,0.4)
}

nav a:hover, nav a:active{

   color: hsla( 0 , 0%,100%, 0.7);
   background-color: hsla(0,0%,42%,0.7);

}

/*

Go to the "Section Styles" section of the style sheet. In this section, you'll define the appearance of the four playbills. 
You'll start with the ```h1``` headings from the sections.

Create a style rule for the ```section.playbill h1```selector that sets the font size to **3em** and the font weight to **normal**. 
Set the margin space around the ```h1``` headings to **0** pixels. Set the padding space to **20** pixels on top, **0** pixels on the right, **10** pixels on the bottom, and **20** pixels on the left.

Each playbill section is identified by a different ID value ranging from ```play1``` to ```play4```. Create style rules that set a different background color for each playbill using the following background colors:

- ID: ```play1``` set to **hsl(240, 100%, 88%)**
- ID: ```play2``` set to **hsl(25, 88%, 73%)**
- ID: ```play3``` set to **hsl(0, 100%, 75%)**
- ID: ```play4``` set to **hsl(296, 86%, 86%)**
*/
/* Section Styles */

section.playbill h1{
     font-size: 3em;
     font-weight: normal;
     margin: 0px;
     padding: 20px 0px 10px 20px;
}


section#play2{
    background-color: hsl(25,88%,73%);

}

section#play1{
   background-color: hsl(240,100%,80%);

}
section#play3{
   background-color: hsl(0,100%,75%);

}
section#play4{
   background-color: hsl(296,86%,86%);

}
/*
Each playbill section heading will also have a different font. 
For the ```h1``` headings within the four different playbills, create style rules to apply the following font stacks:

- ID: ```play1``` set to **Champagne**, **cursive**
- ID: ```play2``` set to **Grunge**, **'Times New Roman'**, **Times**, **serif**
- ID: ```play3``` set to **Impact**, **Charcoal**, **sans-serif**
- ID: ```play4``` set to **Dobkin**, **cursive**

*/

section#play1  h1{
   font-family: Champagne,cursive;
}

section#play2  h1{
   font-family: Grunge, 'Times New Roman', Times, serif;
}

section#play3  h1{
    font-family: Impact, Charcoal, sans-serif ;
}

section#play4  h1{
   font-family: Dobkin, cursive;
}

/*
Randall has put the author and the director of each play within a description list. 
Format these description lists now by going to the "Description List Styles" section and creating a style rule 
for the ```dt``` element that sets the font size to **1.3em**, the font weight to **bold**, 
and the font color to the semi-transparent value **hsla(0, 0%, 0%, 0.4)**.

Create a style rule for every ```dd``` element to set the font size to **1.3em**, 
the left margin space to **0** pixels, and the bottom margin space to **10** pixels.
*/
/* Description List Styles */

 dt{  
   color: hsla(0, 0%, 0% , 0.4); 
   font-size: 1.3em;
    font-weight: bold;
    

}

dd{

   font-size: 1.3em;
   margin-left: 0px;
   margin-bottom: 10px;
}