/*
   New Perspectives on HTML5 and CSS3, 8th Edition
   Tutorial 2
   Review Assignment
   
   TSS Typographic Style Sheet
   Author: Roger Okamoto
   Date:   1/27/2022 (Thursday)
   
   Filename: coach_styles.css

*/
@charset "utf-8";

@font-face{
   font-family: Mobile;
   src: url(mobile-webfont.woff) format('woff'), url( mobile-webfont.ttf) format('ttf');
}
/* Main Structural Styles */
/*
1. Change the background color of the browser window by creating a style rule for the ```html``` element 
that sets the background color to the value **hsl(27, 72%, 72%)**.
2. For the ```body``` element, create a style rule to set the text color to the 
value **rgb(91, 91, 91)**, the background color to **ivory**, and body text to the 
font stack: **Verdana**, **Geneva**, **sans-serif**.

*/
html{

   background-color: hsl(27, 72%, 72%);
}

body{
   font-family: Verdano, Geneva, sans-serif;
   background-color: ivory;
   color: rgb(91,91,91);

}

/*
Create a style rule for the ```body > footer address``` selector containing the following styles:

1. The background color set to the value **rgb(222, 128, 60)**.
2. The font color to **white** and then to the semi-transparent value **rgba(255, 255, 255, 0.6)**.
3. The font style to **normal** displayed in bold small capital letters with a font size of **0.9em** 
and a line height of **3em** using the font stack: **Nobile**, **Verdana**, **Geneva**, **sans-serif**.
4. The text horizontally centered on the page.
*/

body > footer{
   background-color: rgb(222, 128,60);
   color: white;
   font-family: Verdana, Geneva, sans-serif;

   /* semi-transparent*/
   /* bold small capital letters */
   font-size: 0.9em;
   /* line height 3em */
   /* font stack */

    position: center;
  
}

/*

Create a style rule for the ```body > footer address``` selector containing the following styles:

1. The background color set to the value **rgb(222, 128, 60)**.
2. The font color to **white** and then to the semi-transparent value **rgba(255, 255, 255, 0.6)**.
3. The font style to **normal** displayed in bold small capital letters with a font size of **0.9em** and a line height of **3em** using the font stack: **Nobile**, **Verdana**, **Geneva**, **sans-serif**.
4. The text horizontally centered on the page.
*/

body >footer address{

 background-color: rgb(122, 128, 60);
 color:white;
 color: rgba(255,255,255,0.);
 font: normal small-caps bold 0.9/3em
       Mobile, Verdana, Geneva, sans-serf;
 text-align: center;

}

/*
Go to the "Heading Styles" section and create a style rule for every ```h1``` heading that displays 
the text with a **normal** font weight 
from the font stack: **Nobile**, **Verdana**, **Geneva**, **sans-serif**. 
Set the letter spacing to **0.2em** and the margins to **0** pixels.
*/
/* Heading Styles */
 h1{
    font-weight: normal;
    font-family: Mobile, Verdana, Geneva, sans-serif;
    letter-spacing: 0.2em;
    margin: 0px;

 }
 /*
 Alison wants you to format the main ```h1``` heading at the top of the page. 
 Create a style rule for the ```section#tss_coaches h1``` selector that sets 
 the font size to **2.5em** with a color value of **hsl(27, 82%, 85%)** 
 and background color of **hsl(27, 6%, 21%)**. Set the left padding space to **10** pixels.
 */

 section#tss_coaches > h1{

   font-size: 2.5em;
   color: hsl(27,82%,85%);
   background-color: hsl(27, 6%, 21%);
   padding-left: 10px;

 }
 /*
Alison also wants you to format the ```h2``` headings for each coach. 
Create a style rule for the ```article.coach_bio h2``` selector that 
sets the font size to **1.6em** with **normal** weight 
and the font color to **rgb(240, 125, 0)**.


 */
 article.tss_coach_bio h2{
   font-size: 1.6em;
   font-weight: normal;
   color:rgb(240, 125 , 0 );
    

 }

 /*

## Blockquote Styles
Alison has inserted a comment from an athlete about the coaches. 
Format this comment by going to the "Blockquote Style" section and creating a style rule 
for the ```aside blockquote``` selector to do the following:

1. Set the font size to **0.95em** using the font stack: **'Comic Sans MS'**, **cursive**.
2. Set the font color to **rgb(222, 128, 60)** and use a semi-transparent background color 
with the value **rgba(255, 2555, 255, 0.75)**.
3. Set the padding space to **10** pixels. Define opening and closing quotes for the element 
using the Unicode character ```201C``` and ```201D``` respectively.

Format the appearance of the opening quotes by creating a style rule for 
the ```aside blockquote::before``` selector to write a boldfaced open quote before 
the block quote with the font size set to **1.6em** from the 
font stack: **'Times New Roman'**, **Times**, **serif**.

Format the appearance of the closing quotes by creating a style rule for 
the ```aside blockquote::after``` selector to write a boldfaced close quote 
after the block quote with the font size once again set to **1.6em** from the 
font stack: **&lsquo;Times New Roman'**, **Times**, **serif**.
*/


/* Blockquote Styles */

aside blockquote{
    font-size: 0.95em;
    font-family: 'Comic Sans MS',cursive;
    color: rgb(222,129,60);
    background-color: rgb(222,128,60);
    color: rgba(255,255,255,0.75);   /* semi-transparent roger*/
    padding:10px;
    quotes: "\201C" "\201D";
}

aside blockquote::before{
          content: open-quote;
          font-family: 'Times New Roman', Times, serif;
          font-size: 1.6em;
          font-weight: bold;

}

aside blockquote::after{
         content: close-quote;
         font-family: 'Times New Roman', Times, serif;
          font-size: 1.6em;
          font-weight: bold;

}



/* Navigation Styles */	

body > nav{
   font-size: 0.8em;
   line-height: 2em;

}

nav > ul{
    list-style-type: none;
    padding-left: 5px;
}

nav > ul li:nth-of-type(6) {
         margin-top: 20px;   
}

nav > ul li:nth-of-type(16) {
   margin-top: 20px;   
}

nav > ul > li > a:visited, nav > ul > li > a:link{

      color: rgb(151,151,151);
      text-decoration: none;

}

nav > ul > li > a:hover, nav > ul > li > a:active{

   color: rgb(222,128, 60);
   text-decoration: underline;

}
/* Paragraph Styles */
p {

      margin: 10px 30px 10px 0px;

}

article.coach_bio > header > ul {

      list-style-image: url(check.png);
      margin: 0px 0px 10px 0 px;


}
/* List Styles */



















/*
Notice for the Nobile Font
------------------------------------------------------------------------------
SIL Open Font License v1.10

This license can also be found at this permalink: http://www.fontsquirrel.com/license/quicksand

Copyright (c) 2011, Andrew Paglinawan (http://www.andrewpaglinawan.com andrew.paglinawan@gmail.com), 
with Reserved Font Name “Quicksand”.

This Font Software is licensed under the SIL Open Font License, Version 1.1.
This license is copied below, and is also available with a FAQ at: http://scripts.sil.org/OFL

—————————————————————————————-
SIL OPEN FONT LICENSE Version 1.1 - 26 February 2007
—————————————————————————————-

PREAMBLE
The goals of the Open Font License (OFL) are to stimulate worldwide development of collaborative 
font projects, to support the font creation efforts of academic and linguistic communities, and 
to provide a free and open framework in which fonts may be shared and improved in 
partnership with others.

The OFL allows the licensed fonts to be used, studied, modified and redistributed freely as 
long as they are not sold by themselves. The fonts, including any derivative works, can 
be bundled, embedded, redistributed and/or sold with any software provided that any reserved 
names are not used by derivative works. The fonts and derivatives, however, cannot be released under 
any other type of license. The requirement for fonts to remain under this license does not apply 
to any document created using the fonts or their derivatives.

DEFINITIONS
“Font Software” refers to the set of files released by the Copyright Holder(s) under this 
license and clearly marked as such. This may include source files, build scripts and documentation.

“Reserved Font Name” refers to any names specified as such after the copyright statement(s).

“Original Version” refers to the collection of Font Software components as distributed by 
the Copyright Holder(s).

“Modified Version” refers to any derivative made by adding to, deleting, or substituting—in 
part or in whole—any of the components of the Original Version, by changing formats or by 
porting the Font Software to a new environment.

“Author” refers to any designer, engineer, programmer, technical writer or other person 
who contributed to the Font Software.

PERMISSION & CONDITIONS
Permission is hereby granted, free of charge, to any person obtaining a copy of the Font Software, 
to use, study, copy, merge, embed, modify, redistribute, and sell modified and unmodified copies of 
the Font Software, subject to the following conditions:

1) Neither the Font Software nor any of its individual components, in Original or Modified 
Versions, may be sold by itself.

2) Original or Modified Versions of the Font Software may be bundled, redistributed and/or 
sold with any software, provided that each copy contains the above copyright notice and this 
license. These can be included either as stand-alone text files, human-readable headers or in 
the appropriate machine-readable metadata fields within text or binary files as long as those 
fields can be easily viewed by the user.

3) No Modified Version of the Font Software may use the Reserved Font Name(s) unless explicit 
written permission is granted by the corresponding Copyright Holder. This restriction only applies 
to the primary font name as presented to the users.

4) The name(s) of the Copyright Holder(s) or the Author(s) of the Font Software shall not be used 
to promote, endorse or advertise any Modified Version, except to acknowledge the contribution(s) 
of the Copyright Holder(s) and the Author(s) or with their explicit written permission.

5) The Font Software, modified or unmodified, in part or in whole, must be distributed entirely 
under this license, and must not be distributed under any other license. The requirement for fonts 
to remain under this license does not apply to any document created using the Font Software.

TERMINATION
This license becomes null and void if any of the above conditions are not met.

DISCLAIMER
THE FONT SOFTWARE IS PROVIDED “AS IS”, WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, 
INCLUDING BUT NOT LIMITED TO ANY WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE 
AND NONINFRINGEMENT OF COPYRIGHT, PATENT, TRADEMARK, OR OTHER RIGHT. IN NO EVENT SHALL THE COPYRIGHT 
HOLDER BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, INCLUDING ANY GENERAL, SPECIAL, INDIRECT, 
INCIDENTAL, OR CONSEQUENTIAL DAMAGES, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING 
FROM, OUT OF THE USE OR INABILITY TO USE THE FONT SOFTWARE OR FROM OTHER DEALINGS IN THE FONT SOFTWARE.
*/
