

a.implink {
   font-family: "Tahoma", Verdana, Arial, Helvetica, sans-serif;
   font-size:  90%;
   color:#000000;
   background-color: #DCF0F7;

   style:text-decoration:none 
   text-decoration:underline;
   border-bottom: 1px solid black;
/*
   background-color: #D9FFD9;
   border-top: 1px solid black;
   border-left: 1px solid black;
   border-right: 1px solid black;
*/

}


/*
   font-size:12pt;
   background-color: #D9FFD9;
   font-family:Verdana, Arial, Sans-serif
*/