
table{
	font-family: "Tahoma", Verdana, Arial, Helvetica, sans-serif;
	font-size:  75%;
	border-collapse: collapse;
}

caption{
	background: url(title.png) no-repeat 50px;
	font-size: 400%;
	text-indent: -10000px;
}

thead tr{
/*
      background-color: #90f0ab;
*/

      background-color: #5757ff;
      background-color: #ffff94;

      border-top: 1px solid black;
      border-bottom: 1px solid black;
}

tfoot tr{
      background-color: #FFFFFF;

}

thead th{
      padding: 0.5em;
      white-space: nowrap;
}

tfoot th{
      font-size: 110%;
      text-align: right;
      padding-right: 0.5em;
      letter-spacing: 1px;
      background:  
}

tfoot td{
      padding-left: 0.5em;
	background-color: #EAFDFF;  /* roger  added   */
/*
      color: red;
      font-size: 110%;
      font-weight: 600;
*/

}

tfoot td:hover{
      background-color: red;
      background-color: #FFCCCC;

      color: white;
}

tr{

	background-color: #EAFDFF;
	background-color: #d1e8ff;

}

tr.odd{
	background-color: #FFFFFF;
}

tbody tr:hover{
      background-color: #FFCCCC;
      background-color: #d1ffff;
}

td, th{
    border: 1px dotted #CCCCCC;
}

tbody td
{
	padding: 0.5em;
}

td a:link, th a:link{
   color: black;
}

td a:visited, th a:visited{
   color: black;
   text-decoration: line-through;
}

td a:hover, th a:hover{
   color: purple;
   text-decoration: underline;
}

td:last-child a:hover{
	      color: red;
	      text-decoration: underline overline;
}