.supporttechH{
	background: #e1e1e1; 
	padding: 5px; 
	margin-bottom:10px;
	font-weight:800;
	clear:left;
	}
.supporttech_td{
    border-left: 5px solid #ffcf0c;
    width: 25% !important;
    min-width: 171px;
    margin-right: 10px;
    margin-bottom: 8px;
    float: left;
    padding: 15px 5px 5px 12px !important;
    min-height: 78px;
	}
.supporttech_td_addheight{
    border-left: 5px solid #ffcf0c;
    width: 20% !important;
    min-width: 171px;
    margin-right: 10px;
    margin-bottom: 8px;
    height: 130px;
    float: left;
    overflow: hidden;
    padding: 15px 5px 5px 12px !important;
		}
.supporttech_td a{
	text-decoration: none !important;
	display: block;
	}
.supporttech_td_addheight a{
	text-decoration: none !important;
	display: block;
	}
.supporttech_p a{
	color: #929191 !important; 
	}
.supporttech_ph a{
	color: #192026 !important;
	}
.supporttech_p a:visited {
	color: #929191 !important; 
	}
.supporttech_ph a:visited {
	color: #192026 !important;
}
.supporttech_td a:hover{
    color: var(--ic-link-color) !important;
	}
.supporttech_td_addheight a:hover{
	color: var(--ic-link-color) !important;
	}
.supporttech_ph { 
	margin-top:.3em;
	font-weight: bold;
	}
.supporttech_p {
	margin-top: 5px; 
	margin-bottom: 10px; 
	font-size: .75em;
	}
td.supporttech_td a.file_download_btn img {
    display: none !important;
}
td.supporttech_td_addheight a.file_download_btn img {
    display: none !important;
}