div#navbarContainer ul a {
	opacity: 0.7;
	-moz-opacity: 0.7;
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=70);
}

div#navbarContainer ul a:hover, div#navbarContainer ul a.current, div#navbarContainer ul a.currentAncestor {
	opacity: 0.9;
	-moz-opacity: 0.9;
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=90);
	color: #222;
}
